# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-text-editor':
  'alt-shift-E': 'atom-gpg:encrypt-selections'
  'alt-shift-D': 'atom-gpg:decrypt-selections'
  'alt-shift-S': 'atom-gpg:sign-selections'
